<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drone Control Panel</title>
</head>
<body>
    <h1>Drone Control Panel</h1>

    <div>
        <a href="/mission_planner" style="display: inline-block; margin-bottom: 1rem; padding: 0.5rem 1rem; background-color: #3b82f6; color: white; text-decoration: none; border-radius: 4px;">Mission Planner</a>
    </div>

    <!-- Takeoff Command -->
    <div>
        <label for="takeoffHeight">Takeoff Height (m):</label>
        <input type="number" id="takeoffHeight" placeholder="Enter height">
        <button id="takeoffBtn">send Takeoff hight</button>
    </div>

    <div>
        <label for="scanAltHight">Scan hight relative from home (m):</label>
        <input type="number" id="scanAltHight" placeholder="Enter height">
        <button id="scanAltBut">send alt</button>
    </div>

    <div>
        <label for="scanPrecisionValue">Precision to travle to point:</label>
        <input type="number" id="scanPrecisionValue" placeholder="Enter height">
        <button id="scanPrecisionBut">send alt</button>
    </div>
    <!-- You can add more buttons here following the same pattern -->

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
